*{
    margin: 0;
    padding: 0;
}

body {
    /*    background: #1e1e1e;
*/ background: linear-gradient(#1e1e1e,#161616);
    /*    background: linear-gradient(#1e1e1e, #006008);*/
     background-image: url(https://i.ibb.co/NpsXZXj/image.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Lato Regular, sans-serif;
    overflow-x: hidden
}

.neonTextG {
    /*    color: #fff;
*/ text-shadow:
    /*       0 0 7px #fff, */
    /*  0 0 10px #fff, */
    0 0 21px #fff, 0 0 42px #52aa70, 0 0 82px #52aa70, 0 0 92px #52aa70, 0 0 102px #52aa70, 0 0 151px #52aa70;
}




header {
    width: 285%;
    color: #fff;
    background: linear-gradient(#161616,#1e1e1e17);
}

    header .logo {
        /*padding: 5px;*/
        margin-top: 5px;
        margin-left: 5px;
        width: 10%
    }

    header .avaMini {
/*        margin-top: 25px;
*/        color: aliceblue;
        /*Text-align: right;
    float: right;*/
        /*margin-right: -100%;*/
    }

header .mainer{
    margin-left: 100px;
}

.avaMax{
/*    background-color:floralwhite;
*/
}

main {
    width: 145%;
    padding: 15px 35%;
    margin: 100px 0;
}

main input:not([type="submit"]) {
    width: 40%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
    margin-top: 7px;
}




.tagchos{
    width: 100%;
}


.tagB {
    height: 10px;
    width: auto;
}



.DNExist {
    padding-top: 10%;
    padding-bottom: 65%;
}


.boba {
    background: none;
    border: none;
    float:left;
    margin-left:5px;
    margin-top:5px;
}


.beliyText:hover { /* Стиль при наведении курсора */
    color: white; /* Цвет текста не меняется, остается белым */
}





.whatLike{
    padding:0px;
    margin-top: -10%;
    width: 50%;
    text-align:center;
}

.whatLike1 {
    padding: 0px;
    margin-top: -15%;
}

.whatLike11 {
    width:70%;
}


.ArButs {
    text-align: center;
}

.ArButs a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

.ArButs svg {
    margin-left: auto;
    margin-right: 0;
}








.namer{
    
    color:aliceblue;
}

.red {
    background-color: #cf6161;
    color: #ffffff;
}

.logo {
/*    background: linear-gradient(#1f4d21,#153416);
*/    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
}

.imgu {
/*    background: linear-gradient(#243720c7,#1e1e1ec7);
*/    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
}

.search {
    margin-left: 25%;
}




main input:not([type="submit"]):focus {
    border: 1px solid #52aa70;
}

    main input[type="submit"] {
        width: 40%;
        padding: 10px 0;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        border: 0;
        margin-top: 7px;
        background: linear-gradient(#243720c7,#1e1e1ec7);
        font-weight: bold;
        color: #72ff50;
        cursor: pointer;
    }


    main input[type="submit"]:hover {
        background: #52aa70;
    }


main form span {
    color: #52aa70;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}










.txer {
    margin-top: 5%;
    text-align: center;
}

.tabler {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    width:90%;
}





.button1 {
    margin-top: 40px;
    text-align: center;

}
    .button1 a {
        background-color: orange;
        padding: 20px 50px;
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
    }







.pop_up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.pop_up_container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#1b321c,#181b18);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}


.tinder1 .button2 { /* Изменяем селектор, чтобы кнопка была внутри .tinder1 */
    color: aliceblue;
    position: absolute; /* Абсолютное позиционирование относительно блока .tinder1 */
    top: 10px; /* Расстояние от верхнего края блока .tinder1 */
    right: 10px; /* Расстояние от правого края блока .tinder1 */
}

.disBut:hover {
    color: aliceblue;
    background-color:brown;
}


.crossButton {
    color: aliceblue;
    position: absolute; /* Абсолютное позиционирование относительно блока .tinder1 */
    top: 10px; /* Расстояние от верхнего края блока .tinder1 */
    right: 10px; /* Расстояние от правого края блока .tinder1 */
    border: none;
    background: none;
}


.TagBox{
    margin-left: 15px;
    width:40%;
}

.ager{
    width:10%;
}


.home1 {
    display: block;
    margin: 0 auto;
    /**/ /*float: inline-start;*/
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*    background: linear-gradient(#2d6b2f,#1f4d21);
*/ position: center;
    display: flex;
    margin-left: -65%;
    margin-top: auto;
    color: white;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.home2 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#2d6b2f,#0f3911);
    position: center;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    margin-left: -30px;
    margin-top: 50px;
    color: white;
}


.homeinfo {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*background: linear-gradient(#2d6b2f,#1f4d21);*/
    position: center;
    width: 1000px;
    height: 1000px;
    margin-left: -35%;
    margin-top: -10%;
    color: white;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.login1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*    background: linear-gradient(#2d6b2f,#0f3911);*/
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 450px;
    height: 500px;
    margin: 0 auto;
    margin-left: -30px;
    margin-top: 50px;
    color: white;
}

.login3 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*    background: linear-gradient(#2d6b2f,#0f3911);*/
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 500px;
    height: 550px;
    margin: 0 auto;
    margin-left: -30px;
    margin-top: 50px;
    color: white;
}


.admin3 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*    background: linear-gradient(#2d6b2f,#0f3911);*/
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-left: -30px;
    margin-top: 50px;
    color: white;
    
}

.tabler2 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 750px;
    height: 600px;
    margin: 0 auto;
    margin-left: -160px;
    margin-top: 50px;
    color: white;

}

.scroll-ban {
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset;
    height: 80%;
}

.tagform{
    width:220%;
}

.fighter1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 750px;
    height: 650px;
    margin: 0 auto;
    margin-left: -160px;
    margin-top: 50px;
    color: white;
}

.tabler1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 750px;
    height: 480px;
    margin: 0 auto;
    margin-left: -160px;
    margin-top: 50px;
    color: white;
}

.changer1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-left: -250px;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    color: white;
}
.changer11 {
    margin-top: 10%;
}


.changer2 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 780px;
    height: 450px;
    margin: 0 auto;
    margin-left: -160px;
    margin-top: 50px;
    padding: 10px;
    color: white;
}

.skills{
    width: 100%;
    height: 100%;
}


.zag{
    padding: 5px;
}





.tinder1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: relative; /* Изменяем позиционирование на относительное */
    width: 780px;
    height: 750px;
    margin: 0 auto;
    margin-left: -160px;
    padding: 10px;
    color: white;
    flex-direction: column; /* Flexbox для выравнивания по вертикали */
    justify-content: center;
    align-items: center;
}


.likeDislike {
    background-color: none; /* Цвет фона для блока */
    padding: 10px 20px;
    border-radius: 50px;
    display: flex; /* Flexbox для кнопок */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center;
    gap: 20px; /* Расстояние между кнопками */

    margin-top:-30px;
}

.likeDislike1 {
    background-color: #0e140dff; /* Цвет фона для блока */
    padding: 10px 20px;
    border-radius: 50px;
    display: flex; /* Flexbox для кнопок */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center;
    gap: 20px; /* Расстояние между кнопками */
    width: min-content;

}

.d-inline-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.tinder11 {
    width: 98%;
    color: white;
}



.chat1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 600px;
    height: 700px; /* This ensures it takes up the full viewport height */
    margin: 0 auto;
    margin-left: -160px;
    margin-top: -50px;
    color: white;
    display: flex;
    flex-direction: column;
}



.messages.tabler {
    flex-grow: 1;
    padding-bottom: 10px;
    height: 100%; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset;
}

.message {
    display: flex;
    justify-content: space-between; /* Расположение элементов по краям */
}

.chat-form {
    display: flex;
    padding: 10px 0;
    background-color: none; /* You can adjust the background color */
}

.form-group {
    display: flex;
    flex: 1;
    padding-left: 4%;
    padding-right: 4%;
}

.form-control_M{
    width:40px;
    height:10%;
    
}

textarea {
    flex-grow: 1;
    margin-right: 10px;
    resize: none;
    padding: 10px;
}

.chatButton {
    background-color: #007bff; /* Customize the button color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.timestamp{
    margin-right:5px;
}




.tag-container {
    display: flex;
    gap: 10px; /* Отступы между тегами */
    padding: 10px; /* Внутренние отступы */
    border: none; /* Рамка вокруг контейнера */
    border-radius: 17px; /* Закругленные углы */
    flex-wrap: wrap; /* Возможность переносить строки при нехватке места */
}

.tag {
    /*background-color: #6c757d;*/ /* Цвет фона для тегов */
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    white-space: nowrap; /* Запрещаем перенос текста */
}



.t1 {
    background-color: brown; /* Фон контейнера (можно изменить) */
}

.t2 {
    background-color: mediumseagreen; /* Фон контейнера (можно изменить) */
}

.t3 {
    background-color: slateblue; /* Фон контейнера (можно изменить) */
}

.t4 {
    background-color: coral; /* Фон контейнера (можно изменить) */
}

.t5 {
    background-color: orange; /* Фон контейнера (можно изменить) */
}


/*       ::::    Прямоугольники - фоны для интерфейса     ::::::       */
.scroll {
    height: 650px; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset
}

.scroll_t {
    height: 300px; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset;
   
}

.scroll_table {
    height: 50px; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset;
}











/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Ссылки внутри выпадающего списка */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Изменение цвета выпадающих ссылок при наведении курсора */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}







.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.tag {
    background-color: #5d9ecb;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

    .tag span {
        font-size: 14px;
    }

    .tag .remove-tag {
        background-color: #444;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 12px;
        cursor: pointer;
    }

.search-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

    .search-container input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
    }

    .search-container button {
        padding: 5px 10px;
        border: none;
        background-color: #5d9ecb;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }







footer {
    margin-top: 10%;
    width: 10%;
    text-align: center;
    padding: 5% 0;
    color: white;
    border-top: 2px solid #000
}


