*{
    margin: 0;
    padding: 0;
}

body {
    /*    background: #1e1e1e;
*/ background: linear-gradient(#1e1e1e,#161616);
    /*    background: linear-gradient(#1e1e1e, #006008);*/
     background-image: url(../background.png);
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Lato Regular, sans-serif;
    overflow-x: hidden
}


#content .obvod p {
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 0 1px brown, 0 1px 1px brown, -1px 0 1px brown, 0 -1px 1px brown;
}

.neonTextG {
    /*    color: #fff;
*/ text-shadow:
    /*       0 0 7px #fff, */
    /*  0 0 10px #fff, */
    0 0 21px #fff, 0 0 42px #52aa70, 0 0 82px #52aa70, 0 0 92px #52aa70, 0 0 102px #52aa70, 0 0 151px #52aa70;
}




header {
    width: 285%;
    color: #fff;
    background: linear-gradient(#161616,#1e1e1e17);
}

    header .logo {
        /*padding: 5px;*/
        margin-top: 5px;
        margin-left: 5px;
        width: 10%
    }

    header .avaMini {
/*        margin-top: 25px;
*/        color: aliceblue;
        /*Text-align: right;
    float: right;*/
        /*margin-right: -100%;*/
    }

header .mainer{
    margin-left: 100px;
}

.avaMax{
/*    background-color:floralwhite;
*/
}

main {
    width: 145%;
    padding: 15px 35%;
    margin: 100px 0;
}

main input:not([type="submit"]) {
    width: 40%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
    margin-top: 7px;
}




.tagchos{
    width: 100%;
}


.tagB {
    height: 10px;
    width: auto;
}



.DNExist {
    padding-top: 10%;
    padding-bottom: 65%;
}


.boba {
    background: none;
    border: none;
    float:left;
    margin-left:5px;
    margin-top:5px;
}


.beliyText:hover { /* Стиль при наведении курсора */
    color: white; /* Цвет текста не меняется, остается белым */
}



.qq1{
    height:80px;
}


.whatLike{
    padding:0px;
    margin-top:  -22%;
    width: 50%;
    text-align:center;
}

.whatLike0 {
    padding: 0px;
    margin-top: -5%;
    width: 50%;
    text-align: center;
}

.whatLike2 {
    padding: 0px;
/*    margin-top: -17%;
*/    width: 300px;
    text-align: center;
    height: 100px;
    align-content: initial;
    margin-left:30px;
    margin-bottom:0;
}

.whatLike2 {
    padding: 0px;
        margin-top: -7%;
 width: 300px;
    text-align: center;
    height: 100px;
    align-content: initial;
    margin-left: 30px;
    margin-bottom: 0;
}

.wL2{
    margin-left:170px;
}

.whatLike3 {
    padding: 0px;
    margin-top: -12%;
    width: 300px;
    text-align: center;
    height: 100px;
    align-content: initial;
    margin-left: 30px;
}

.whatLike4 {
    padding: 0px;
    margin-top: -10%;
    width: 300px;
    text-align: center;
    height: 100px;
    align-content: initial;
    margin-left: 30px;
}


.qq4{

    height:60px;
}
.qq5 {
    height: 75px;
}

.ChLog{
    
/*    margin-left: 90px;
*/    width:800px;
}


.tttt1{
    margin-left:-380px;
}

.tttt {
    margin-left: 10px;
}

.kot {
    margin-left: 25px;
    margin-top:5px;

}

.kot2 {
    margin-left: 15px;
    margin-top:  8px;
}


.kot3 {
    margin-left: 15px;
    margin-top: -15px;
}


.chTag {
   width:700px;
}
.chTagBTN{
    margin-left:-280px;
}

.changer3 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 420px;
    height: 650px;
    margin: 0 auto;
    margin-left: -20px;
    margin-top: -150px;
    padding: 10px;
    color: white;
}

.whatLike1 {
    padding: 0px;
    margin-top: -15%;
}

.whatLike11 {
    margin-top:-80px;
    width:70%;
}


.ArButs {
    text-align: center;
}

.ArButs a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

.ArButs svg {
    margin-left: auto;
    margin-right: 0;
}


.chgstr {
    text-align: center;
    position:center;
}

    .chgstr chgtxbx {
        display: flex;
        /*justify-content: space-between;*/
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .chgstr chgbtn {
        margin-left: auto;
        margin-right: 0;
    }

.ChBU {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}





.namer {
    color: aliceblue;
}

.red {
    background-color: #cf6161;
    color: #ffffff;
}

.logo {
/*    background: linear-gradient(#1f4d21,#153416);
*/    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
}

.imgu {
/*    background: linear-gradient(#243720c7,#1e1e1ec7);
*/    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
}

.search {
    margin-left: 25%;
}




main input:not([type="submit"]):focus {
    border: 1px solid #52aa70;
}

    main input[type="submit"] {
        width: 40%;
        padding: 10px 0;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        border: 0;
        margin-top: 7px;
        background: linear-gradient(#243720c7,#1e1e1ec7);
        font-weight: bold;
        color: #72ff50;
        cursor: pointer;
    }


    main input[type="submit"]:hover {
        background: #52aa70;
    }


main form span {
    color: #52aa70;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}










.txer {
    margin-top: 5%;
    text-align: center;
}

.tabler {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    width:90%;
}





.button1 {
    margin-top: 40px;
    text-align: center;

}
    .button1 a {
        background-color: orange;
        padding: 20px 50px;
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
    }







.pop_up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.pop_up_container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#1b321c,#181b18);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}


.tinder1 .button2 { /* Изменяем селектор, чтобы кнопка была внутри .tinder1 */
    color: aliceblue;
    position: absolute; /* Абсолютное позиционирование относительно блока .tinder1 */
    top: 10px; /* Расстояние от верхнего края блока .tinder1 */
    right: 10px; /* Расстояние от правого края блока .tinder1 */
}

.disBut:hover {
    color: aliceblue;
    background-color:brown;
}


.crossButton {
    color: aliceblue;
    position: absolute; /* Абсолютное позиционирование относительно блока .tinder1 */
    top: 10px; /* Расстояние от верхнего края блока .tinder1 */
    right: 10px; /* Расстояние от правого края блока .tinder1 */
    border: none;
    background: none;
}


.TagBox{
    margin-left: 15px;
    width:40%;
}




.home1 {
    display: block;
    margin: 0 auto;
    /**/ /*float: inline-start;*/
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*    background: linear-gradient(#2d6b2f,#1f4d21);
*/ position: center;
    display: flex;
    margin-left: -65%;
    margin-top: auto;
    color: white;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.home2 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#2d6b2f,#0f3911);
    position: center;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    margin-left: -30px;
    margin-top: 50px;
    color: white;
}


.homeinfo {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*background: linear-gradient(#2d6b2f,#1f4d21);*/
    position: center;
    width: 1000px;
    height: 1000px;
    margin-left: -35%;
    margin-top: -10%;
    color: white;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.login1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*    background: linear-gradient(#2d6b2f,#0f3911);*/
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 450px;
    height: 500px;
    margin: 0 auto;
    margin-left: -30px;
    margin-top: 50px;
    color: white;
}

.login3 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*    background: linear-gradient(#2d6b2f,#0f3911);*/
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 500px;
    height: 550px;
    margin: 0 auto;
    margin-left: -30px;
    margin-top: 50px;
    color: white;
}


.admin3 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    /*    background: linear-gradient(#2d6b2f,#0f3911);*/
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-left: -30px;
    margin-top: 50px;
    color: white;
    
}

.tabler2 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 750px;
    height: 600px;
    margin: 0 auto;
    margin-left: -160px;
    margin-top: 50px;
    color: white;

}

.scroll-ban {
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset;
    height: 80%;
}

.tagform{
    width:220%;
}





.wide-input {
    width: 100%;
    max-width: 100%;
    height: 300px; /* Принудительная высота */
    min-height: 120px;
    max-height: 300pxt; /* Принудительная максимальная высота */
    overflow-y: auto;
    resize: none;
    white-space: normal;
    word-wrap: break-word;
}





.zsz{
    margin-bottom:100px;
}

.fighter2{
    margin-left:30px;
}

.fig3 {
    margin-left:  -40px;
}

/* Основной стиль для toggle switch */
.switch {
    margin-bottom:   15px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
    vertical-align: middle; /* Выравнивание переключателя по вертикали */
}
.sexlab {
    margin-bottom: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5d9ecb;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        margin-top: 0; /* Убираем лишний отступ сверху */
        position: absolute;
        content: "";
        height: 23px; /* Уменьшаем размер кружка, чтобы соответствовал высоте переключателя */
        width: 23px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }


input:checked + .slider {
    background-color: #bb58b0;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
    width: 57px;
    height: 30px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Коррекция отступов для текста и полей */
.row.align-items-center {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Выровнять элементы по началу строки */
    margin-bottom: 20px;
}

hohohehe {
    margin-right: 20px; /* Увеличен отступ между заголовком и полем */
    margin-bottom: 0; /* Убираем нижние отступы */
    white-space: nowrap; /* Препятствует переносу текста заголовков */
}

/* Коррекция для возраста */
.ager {
    margin-left: 20px; /* Отступ слева для поля возраста */
    height: 40px; /* Высота поля возраста для согласованности с переключателем */
    display: flex;
    align-items: center;
    width:30px;
    margin-bottom:  10px;
}

/* Широкое поле для описания */
.wide-input {
    width: 100%; /* Ширина поля описания */
    max-width: 100%; /* Ограничение максимальной ширины */
}

/* Общие отступы для элементов формы */
.form-group {
    margin-bottom: 30px;
}

    /* Контейнер для элементов возраста и пола */
    .form-group.row.align-items-center {
        display: flex;
        align-items: center; /* Выравнивание элементов по вертикали */
    }

/* Стиль для текста рядом с переключателем */
#sexLabel {
    vertical-align: middle; /* Выравнивание текста рядом с переключателем по вертикали */
    font-size: 16px;
    color: white;
    white-space: nowrap;
}

/* Исправление выравнивания для переключателя */
.switch {
    vertical-align: middle; /* Выравнивание переключателя по вертикали */
    margin-right: 15px; /* Отступ между переключателем и текстом "Мужской" */
}

.fgTA {
    display: flex;
    flex-direction: column;
}

.inputTA {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.labelTA {
    margin-bottom: 10px; /* Добавляем отступ снизу для метки */
    display: inline-block; /* Убедитесь, что метка ведет себя как блочный элемент */
}

.textboxer {
    width: 70%;
    margin-top: 15px; /* Увеличиваем отступ между меткой и текстбоксом */
    margin-bottom: 15px; /* Отступ между текстбоксами */
}






.fighter1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 750px;
    height: 890px;
    margin: 0 auto;
    margin-left: -160px;
    margin-top: -10px;
    color: white;
}

.tabler1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 750px;
    height: 480px;
    margin: 0 auto;
    margin-left: -160px;
    margin-top: 50px;
    color: white;
}

.changer1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 700px;
    height: 525px;
    margin: 0 auto;
    margin-left: -150px;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    color: white;
}
.changer11 {
    margin-top: 10%;
}


.changer2 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 420px;
    height: 450px;
    margin: 0 auto;
    margin-left:  -20px;
    margin-top: 50px;
    padding: 10px;
    color: white;
}
.changer24 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 720px;
    height: 566px;
    margin: 0 auto;
    margin-left: -150px;
    margin-top: -50px;
    padding: 10px;
    color: white;
}

.bebebu{
    margin-left:325px;
}

.changer2part2 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 520px;
    height: 520px;
    margin: 0 auto;
    margin-left: -20px;
    margin-top: 50px;
    padding: 10px;
    color: white;
}


.skills{
    width: 1000px;
    height: 100%;

}


.zag{
    padding: 5px;
}


.chantag {
    position: center;
    justify-content: center;
    align-items: center;
}

.tinder1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: relative; /* Изменяем позиционирование на относительное */
    width: 780px;
    height: 710px;
    margin: 0 auto;
    margin-left: -160px;
    padding: 10px;
    color: white;
    flex-direction: column; /* Flexbox для выравнивания по вертикали */
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}


.likeDislike {
    background-color: none; /* Цвет фона для блока */
    padding: 10px 20px;
    border-radius: 50px;
    display: flex; /* Flexbox для кнопок */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center;
    gap: 20px; /* Расстояние между кнопками */

    margin-top:-30px;
}

.likeDislike1 {
    background-color: #0e140dff; /* Цвет фона для блока */
    padding: 10px 20px;
    border-radius: 50px;
    display: flex; /* Flexbox для кнопок */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center;
    gap: 20px; /* Расстояние между кнопками */
    width: min-content;

}

.d-inline-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.tinder11 {
    width: 98%;
    color: white;
}



.chat1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background: linear-gradient(#243720c7,#1e1e1ec7);
    position: center;
    width: 600px;
    height: 700px; /* This ensures it takes up the full viewport height */
    margin: 0 auto;
    margin-left: -160px;
    margin-top: -50px;
    color: white;
    display: flex;
    flex-direction: column;
}



.messages.tabler {
    flex-grow: 1;
    padding-bottom: 10px;
    height: 100%; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset;
}

.message {
    display: flex;
    justify-content: space-between; /* Расположение элементов по краям */
}

.chat-form {
    display: flex;
    padding: 10px 0;
    background-color: none; /* You can adjust the background color */
}

.form-group {
    display: flex;
    flex: 1;
    padding-left: 4%;
    padding-right: 4%;
}

.form-control_M{
    width:40px;
    height:10%;
    
}

.container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
    height: 400px; /* Задаем высоту контейнера, чтобы flex-grow работал */
}

textarea {
    flex-grow: 1;
    margin-right: 10px;
    resize: none;
    padding: 10px;
    min-height: 50px; /* Минимальная высота для textarea */
    max-height: 200px; /* Опционально — максимальная высота */
    overflow-y: auto; /* Прокрутка, если контент больше, чем высота */
}


.chatButton {
    background-color: #007bff; /* Customize the button color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.timestamp{
    margin-right:5px;
}




.tag-container {
    display: flex;
    gap: 10px; /* Отступы между тегами */
    padding: 10px; /* Внутренние отступы */
    border: none; /* Рамка вокруг контейнера */
    border-radius: 17px; /* Закругленные углы */
    flex-wrap: wrap; /* Возможность переносить строки при нехватке места */
}

.tag {
    /*background-color: #6c757d;*/ /* Цвет фона для тегов */
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    white-space: nowrap; /* Запрещаем перенос текста */
}



.t1 {
    background-color: brown; /* Фон контейнера (можно изменить) */
}

.t2 {
    background-color: mediumseagreen; /* Фон контейнера (можно изменить) */
}

.t3 {
    background-color: slateblue; /* Фон контейнера (можно изменить) */
}

.t4 {
    background-color: coral; /* Фон контейнера (можно изменить) */
}

.t5 {
    background-color: orange; /* Фон контейнера (можно изменить) */
}


/*       ::::    Прямоугольники - фоны для интерфейса     ::::::       */
.scroll {
    height: 650px; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset
}

.scroll_t {
    height: 300px; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset;
   
}

.scroll_table {
    height: 50px; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset;
}











/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Ссылки внутри выпадающего списка */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Изменение цвета выпадающих ссылок при наведении курсора */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}







.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.tag {
    background-color: #5d9ecb;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

    .tag span {
        font-size: 14px;
    }

    .tag .remove-tag {
        background-color: #444;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 12px;
        cursor: pointer;
    }

.search-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

    .search-container input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
    }

    .search-container button {
        padding: 5px 10px;
        border: none;
        background-color: #5d9ecb;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }







footer {
    margin-top: 10%;
    width: 10%;
    text-align: center;
    padding: 5% 0;
    color: white;
    border-top: 2px solid #000
}


