*{
    margin: 0;
    padding: 0;
}

body {
    background: #a6ff94;
    font-family: Lato Regular, sans-serif;
}




header {
    width: 100%;
    padding: 15x 10%;
    color: #38794e;
    display: flex;
    align-items: center;
    background: #38794e;
    
}

    header .logo {
        margin-left: 15px;
        font-weight: 600;
        font-size: 25px;
        background: #38794e;
    }


header .mainer{
    margin-left: 100px;
}



main {
    width: 145%;
    padding: 15px 35%;
    margin: 100px 0;
}

main input:not([type="submit"]) {
    width: 40%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
    margin-top: 7px;
}

.logo {
    background: #38794e;
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
}

.home1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background-color: #38794e48;
    position: center;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    margin-left: -30px;
    top: 50px;

}

.search {
    margin-left: 25%;
}


.login1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background-color: #38794e48;
    position: center;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    margin-left: -30px;
    top: 50px;
}


main input:not([type="submit"]):focus {
    border: 1px solid #52aa70;
}

    main input[type="submit"] {
        width: 40%;
        padding: 10px 0;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        border: 0;
        margin-top: 7px;
        background: #38794e;
        font-weight: bold;
        color: #6ff19b;
        cursor: pointer;
    }


    main input[type="submit"]:hover {
        background: #52aa70;
    }


main form span {
    color: #52aa70;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}






/*.switcher {*/
    /*position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);*/
/*}

input[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 30px;
    -webkit-appearance: none;
    outline: none;
    background: #c6c6c6;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

input: checked[type="checkbox"] {
    background: #40e551;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    top: 0;
    left: 0;
    background: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

input: checked[type="checkbox"]:before {
    left: 40px;
}*/

.fighter1 {
    float: none;
    border-width: thin;
    border-style: none;
    border-radius: 15px;
    background-color: #38794e48;
    position: center;
    width: 750px;
    height: 650px;
    margin: 0 auto;
    margin-left: -160px;
    top: 50px;
}

.scroll {
    height: 650px; /* Высота блока */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    overflow-x: unset
}






footer {
margin-top: 200%;
width: 100%;
text-align: center;
padding: 5% 0;
color: #38794e;
background: #38794e;
border-top: 2px solid #000
}


