
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Дуэлянт+</h1>
    <p class="lead">Найди своего соперника!</p>




	<form asp-controller="Home" asp-action="Index" method="post">

@*         <a href="/Register">
        *@        <button class="btn btn-success" href="Account/Register">
            Я новенький
            </button>
@*         </a>
 *@        
@*         <a href="/Login">
        *@        <button class="btn btn-warning" href="Account/Login">Я уже смешарик!</button>
@*         </a>
 *@
@*         <input name="button1" type="submit" class="regbutton" id="button" value="Я новенький">
        <input name="button2" type="submit" class="loginbutton" id="button" value="Я уже смешарик">*@

	</form>




</div>

