
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Дуэлянт+</h1>
    <p class="lead">Найди своего соперника!</p>




	<form asp-controller="Home" asp-action="Index" method="post">


        <a class="btn btn-success" href="/Account/Register">Я новенький</a>

        <a class="btn btn-warning" href="/Account/Login">Я уже смешарик!</a>
 
	</form>




</div>

