@model User
@{
    ViewData["Title"] = "Вход";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Home" asp-action="Check">

    <label asp-for="Name"></label>
    <p></p>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Password"></label>
    <p></p>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <p></p>
    <input type="submit" value="Войти"/>
</form>

