
@{
    ViewData["Title"] = "Главная";
}

<div class="TTT">
<div class="p-5 text-center bg-body-tertiary rounded-3">

    <img class="logo" src="https://i.ibb.co/wYqgFx9/duel11.png" alt="duel11" border="0" width="240" height="100">
    <h1 class="text-body-emphasis">-----------------</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        Найди своего соперника!
    </p>
    <div class="ArButs">
            <div class="d-inline-flex gap-2 mb-5">
                <a class="d-inline-flex align-items-center btn btn-success btn-lg px-4 rounded-pill" type="button" href="/Account/Register">
                    Я новенький
                    <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
                </a>
                <a class="btn btn-outline-success btn-lg px-4 rounded-pill" type="button" href="/Account/Login">
                    Я уже смешарик!
                </a>
            </div>

    </div>
</div>
</div>

@* <div class="text-center">
    <h1 class="display-4">Дуэлянт+</h1>
    <p class="lead">Найди своего соперника!</p>




	<form asp-controller="Home" asp-action="Index" method="post">


        <a class="btn btn-success" href="/Account/Register">Я новенький</a>

        <a class="btn btn-warning" href="/Account/Login">Я уже смешарик!</a>
 
	</form>




</div>
 *@
