@{
    ViewData["Title"] = "ыб беб быб";
}

@* <div class="text-center"> *@
    <h1 class="display-4" , style="color:darkslategrey">Что такое Дуэлянт плюс?</h1>
    <p>Индустриальная революция и её последствия стали бедствием для человеческой расы. Они значительно увеличили среднюю продолжительность жизни тех из нас, кто живёт в «развитых» странах, но они дестабилизировали общество, сделали жизнь бесполезной, подвергли людей унижению, привели к широкому распространению психического страдания (в третьем мире также и физического) и нанесли непоправимый вред окружающей среде. Непрерывное развитие технологии лишь усугубит ситуацию. Несомненно, она подвергнет людей ещё большим унижениям и нанесёт ещё больший вред окружающей среде, вероятно, она приведёт к ещё большему социальному распаду и психическому страданию, она может также привести и к возрастанию физического страдания — даже в «развитых» странах.</p>
    <p>Индустриально-технологическая система может продолжить существовать, а может и потерпеть крах. Если она уцелеет, то в конечном итоге она СМОЖЕТ добиться низкого уровня физического и психического страдания, но только пройдя через длительный и очень болезненный период адаптации, и только ценою постоянного превращения людей и многих других живых организмов в изделия машиностроительной промышленности и в простые шестерёнки социального механизма. Кроме того, если система уцелеет, последствия будут неотвратимы: не существует никакого способа её реформирования или модифицирования, не позволяющего отнять у людей чувство собственного достоинства и независимость.</p>
<p>Если же система потерпит крах, последствия также будут крайне болезненными. И чем больше она вырастет, тем ужаснее будут последствия её крушения, так что, если она должна рухнуть, ей лучше рухнуть раньше, чем позже.</p>
<p>Поэтому мы поддерживаем революцию, направленную против индустриальной системы. Эта революция может воспользоваться насилием, а может и не воспользоваться, она может быть внезапной, а может быть и относительно последовательным процессом, растянувшимся на несколько десятилетий. Мы не можем прогнозировать что-либо с уверенностью. Но мы сделаем в очень общих чертах набросок мер, которые те, кто ненавидит индустриальную систему, должны предпринять, чтобы расчистить путь для революции против этой формы общества. Она не должна быть ПОЛИТИЧЕСКОЙ революцией. Её целью будет крушение не правительства, но экономического и технологического фундамента существующего общества.</p>
    </p>В этой статье мы уделим внимание только некоторым негативным обстоятельствам, которые произросли из индустриально-технологической системы. Другие мы упомянем лишь вкратце или вообще проигнорируем. Это не означает, что мы считаем их несущественными. По практическим соображениям мы были вынуждены ограничить наше исследование областями, которым уделялось недостаточно внимания со стороны общественности, или в которых мы могли сказать что-то новое. Например, поскольку существуют хорошо развитые движения за охрану окружающей среды и дикой природы, мы написали очень мало об экологической деградации и истреблении дикой природы, даже несмотря на то, что считаем это очень важным.</p>


@* </div> *@

