@{
    ViewData["Title"] = "Информация";
}

<div class="text-center">
    <h1 class="display-4" , style="color:darkslategrey">Что такое Дуэлянт плюс?</h1>
    <p>Индустриальная революция и её последствия стали бедствием для человеческой расы.</p>
    <p>Они значительно увеличили среднюю продолжительность жизни тех из нас, кто живёт в «развитых» странах,</p>
    <p>но они дестабилизировали общество, сделали жизнь бесполезной, подвергли людей унижению, привели </p>
    <p>к широкому распространению психического страдания (в третьем мире также и физического) и нанесли</p>
    </p>непоправимый вред окружающей среде.</p>


</div>

