@{
    ViewData["Title"] = "О нас";
}
<h1>@ViewData["Title"]</h1>

<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>
<p>Сосаити</p>

