@model OOP_BIG_PROJECT.ViewModels.UserViewModel

<h1>Изменение пароля</h1>

<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="Password1">Новый пароль:</label>
        <input asp-for="Password1" class="form-control" />
        <span asp-validation-for="Password1" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Изменить пароль</button>
</form>

<form asp-action="Back" method="post">
   @*  <div class="form-group">
        <label asp-for="Password1">Новый пароль:</label>
        <input asp-for="Password1" class="form-control" />
        <span asp-validation-for="Password1" class="text-danger"></span>
    </div> *@

    <button type="submit" class="btn btn-primary">Назад</button>
</form>

