@model OOP_BIG_PROJECT.ViewModels.UserViewModel

<h1>Изменить информацию о пользователе</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Изменить логин</h3>
            <form asp-controller="Account" asp-action="ChangeLogin" method="get">
                <button type="submit" class="btn btn-primary">Изменить логин</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Изменить пароль</h3>
            <form asp-controller="Account" asp-action="ChangePassword" method="get">
                <button type="submit" class="btn btn-primary">Изменить пароль</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Изменить краткую информацию о пользователе</h3>
            <form asp-controller="Account" asp-action="ChangeInfo" method="get">
                <button type="submit" class="btn btn-primary">Изменить краткую информацию о пользователе</button>
            </form>
        </div>
    </div>
</div>