@model OOP_BIG_PROJECT.ViewModels.ChatViewModel


<div class="tinder1">
    <form asp-controller="Match" asp-action="BackTable" method="post">
        <button type="submit" class="boba">
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="36" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="color:white">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
            </svg>
        </button>
    </form>

    <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3 text-light txer">>Чат с @Model.ReceiverName</h1>

    <div class="messages tabler">
        @foreach (var message in Model.Messages)
        {
            <div class="message">
                @if (message.SenderId == Model.SenderId)
                {
                    <div><strong>Вы:</strong> @message.Content</div>
                }
                else
                {
                    <div><strong>@Model.ReceiverName:</strong> @message.Content</div>
                }
            </div>
        }
    </div>
    <hr />
    <form asp-action="Chat" asp-controller="Account">
        <input type="hidden" asp-for="ReceiverId" />
        <div class="form-group">
            <textarea height="10px" width="90%" class="form-control txer" id="Content" name="Content" rows="3" asp-for="Content"><label for="floatingPassword">Напишите сообщение...</label></textarea>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>

</div>
