@model OOP_BIG_PROJECT.ViewModels.FighterViewModel



<div class="fighter1">
        <div class="scroll">
        <form asp-action="Login" class="p-4 p-md-5 bg-body-tertiary">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Введите личную информацию</h1>


            <h2>Возраст</h2>
            <small class="text-body-secondary">(Необязательно)</small>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" asp-for="Age">
            </div>

            <h2>Пол</h2>
            <p>
                <input type="radio" value="false" checked name="Sex" />мужской
            </p>
            <p>
                <input type="radio" value="true" name="Sex" />женский
            </p>

            <h2>Увлечения</h2>
            <small class="text-body-secondary">(Необязательно)</small>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" asp-for="Skills">
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-lg btn-warning" type="submit">Сохранить</button>
        
            <hr class="my-4">

        </form>
    </div>
</div>