@{
    ViewData["Title"] = "Вход";
}
@using OOP_BIG_PROJECT.ViewModels
@model UserViewModel;



<body>
@* 	<link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
	<div class="loginwindow">
		<form asp-controller="Home" asp-action="Index" method="post">
			<div class="loginfield">
				<input asp-for="Username" type="text" placeholder="Логин">
			</div>
			<div class="passwordfield">
				<input asp-for="Password" type="password" placeholder="Пароль">
				 @if (!Model.IsUserExisting)
				{
					<div>
						Пользователь не найден!
					</div>
				}
				@if (!Model.IsPasswordCorrect)
				{
					<div>
						Неправильный пароль!
					</div>
				} 
			</div>
			<input name="button" type="submit" class="loginbutton" id="button" value="Войти">
		</form>
		<form asp-controller="Home" asp-action="GoToReg" method="post">
			<a class="registerbutton" asp-action="Register">Зарегистрироваться</a>
		</form>
	</div>
 *@
</body>